<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../bootstrap.min.css">
    <script src="./vista.js"></script>

    <title>Sistema de Seguridad</title>
</head>

<body>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <div class="d-flex justify-content-center">
                        <div class="align-self-center card text-center bg-light mt-5">
                            <div class="card-body bg-light">
                                <h3>SISTEMA DE SEGURIDAD</h3>
                            </div>
                            <div class="card-footer bg-light">
                                <div class="my-3">
                                    <img id="imgIcon" src="../../img/img-btn-on.svg" alt="Estado" height="130">
                                </div>
                                <div class="card mt-4">
                                    <div class="card-body">
                                        <div class="form-group">
                                            <button id="btnPrender" class="btn btn-primary btn-block">PRENDER</button>
                                        </div>
                                        <div class="form-group m-0">
                                            <button id="btnCerrar" class="btn btn-dark btn-block">SALIR</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>